/* variables */
:root {
    --black-color: #19161a;
    --white-color: #ffffff;
    --red-color: #b8365e;
    --blue-color: #506daa;
    --green-color: #3FBF7F;
    --light-grey-color: #d0cfcd;
    --grey-color: #807b7d;
    --background-color: rgba(63, 191, 127, 0.8);
    --second-background-color: rgba(80, 109, 170, 0.5);
    --third-background-color: rgba(80, 109, 170, 0.8);
}

/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    z-index: 0;
}

.wrapper {
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* header */
.header {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2;
}

.navigation {
    height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.navigation-active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: visibility 0s, -webkit-transform 0.6s;
    transition: visibility 0s, -webkit-transform 0.6s;
    -o-transition: transform 0.6s, visibility 0s;
    transition: transform 0.6s, visibility 0s;
    transition: transform 0.6s, visibility 0s, -webkit-transform 0.6s;
    visibility: visible;
}

.navigation-list {
    padding: 0;
    text-align: center;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navigation-item {
    margin-left: 0;
    padding: 1rem 0;
}

.navigation-item a {
    color: var(--black-color);
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.navigation-item a:hover {
    color: var(--green-color);
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: block;
}

.hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: background-color 0.1s 0.2s ease-in-out;
    -o-transition: background-color 0.1s 0.2s ease-in-out;
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
    transition: -webkit-transform 0.2s 0.2s ease-in-out;
    -o-transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out;
    transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger, .navigation {
    -webkit-transition: visibility 0.3s, -webkit-transform 0.6s;
    transition: visibility 0.3s, -webkit-transform 0.6s;
    -o-transition: transform 0.6s, visibility 0.3s;
    transition: transform 0.6s, visibility 0.3s;
    transition: transform 0.6s, visibility 0.3s, -webkit-transform 0.6s;
}

.hamburger-active .hamburger-inner {
    background-color: transparent;
}

.hamburger-active .hamburger-inner::before {
    background-color: var(--black-color);
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
    background-color: var(--black-color);
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

/* hero */
.hero {
    width: 100%;
    background: url("../img/code.jpg") no-repeat center/cover;
    z-index: -2;
    margin-bottom: 4rem;
}

.hero-shadow {
    height: 100%;
    padding: 10rem 0;
    background: var(--second-background-color);
    z-index: -1;
}

.hero-wrapper {
    color: var(--white-color);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 3;
}

.second-header {
    margin: 0 0 1.5rem;
    font-size: 3.5rem;
}

.hero-btn-wrapper {
    margin: 1rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-btn {
    width: 60%;
    margin-top: 2rem;
    padding: 0.8rem 1rem;
    color: var(--white-color);
    background: var(--third-background-color);
    border: 1.5px solid var(--white-color);
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.hero-btn:hover {
    background: var(--background-color);
}

/* about-us */
.about-us {
    margin-bottom: 3rem;
    -webkit-animation: show 3s ease-in;
    animation: show 3s ease-in;
}

.third-header {
    margin: 0 0 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.about-us-wrapper {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.info {
    width: 100%;
    padding-right: 0;
}

.info-paragraph {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

.info-paragraph:last-of-type {
    margin-bottom: 2rem;
}

.competences {
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    line-height: 1.5;
}

.competences-list {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1/5;
}

.competences-list li {
    margin-top: 0.5rem;
}

.competences-list span {
    margin-right: 0.5rem;
    color: var(--grey-color);
}

/* members */
.team {
    margin-bottom: 5rem;
}

.members-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.left-members-box {
    width: 100%;
    text-align: center;
    margin-right: 0;
}

.left-members-box .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.right-members-box {
    width: 100%;
    text-align: center;
}

.right-members-box .member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.member {
    width: 100%;
    margin-bottom: 2rem;
}

.member-text {
    padding: 0 2rem;
}

.member-name {
    text-transform: uppercase;
}

.member-status {
    font-size: 0.9rem;
    line-height: 1.5;
}

.member-social-icons a {
    color: var(--grey-color);
    text-decoration: none;
    margin: 0 0.5rem;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.member-social-icons a:hover {
    color: var(--green-color);
}

.member-photo {
    width: 180px;
    height: 180px;
    background: var(--second-background-color);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.member-photo img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

/* contact */
.contact {
    margin-bottom: 5rem;
}

.form-info-wrapper {
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: show 3s ease-in;
    animation: show 3s ease-in;
}

.form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form label {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 0.5rem 0;
}

.form label:first-of-type {
    padding-top: 0;
}

.form input {
    width: 100%;
    border-radius: 5px;
}

.message {
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    margin-bottom: 2rem;
    resize: vertical;
}

.submit {
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    color: var(--white-color);
    background: var(--blue-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    margin: 0 auto;
}

.submit:hover {
    background: var(--green-color);
}

.contact-info {
    width: 100%;
    padding-right: 0.5rem;
    text-align: center;
    position: relative;
}

.contact-info::after {
    content: "";
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: -2rem;
}

.contact-info p {
    margin: 1.5rem 0 0;
    line-height: 2;
    font-style: normal;
}

.contact-info a {
    color: var(--black-color);
    text-decoration: none;
}

.contact-info a:hover {
    color: var(--green-color);
    text-decoration: underline;
}

.social-icons-box {
    margin-top: 1.5rem;
    text-decoration: none;
}

.social-icons-box a {
    color: var(--grey-color);
    margin-left: 1rem;
}

.social-icons-box a:first-of-type {
    margin-left: 0;
}

.social-icons-box a:hover {
    text-decoration: none;
}

/* footer */
.footer {
    padding: 0.5rem;
    background: var(--black-color);
}

.footer-wrapper {
    color: var(--grey-color);
    text-align: center;
}

/* media queries*/
@media only screen and (min-width: 1000px) {

    /* header */
    .header-wrapper {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .navigation {
        height: 10vh;
        width: 100%;
        background-color: transparent;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: static;
        padding-top: 0;
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .navigation-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navigation-item {
        margin-left: 2rem;
    }

    .navigation-item:first-of-type {
        margin-left: 0;
    }

    .navigation-item a {
        color: var(--white-color);
    }

    .hamburger {
        display: none;
    }

    /* about-us */
    .about-us {
        margin-bottom: 5rem;
    }

    .about-us-header {
        margin: 0 0 2rem;
    }

    .about-us-wrapper {
        text-align: left;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .info {
        width: 65%;
        margin-right: 4rem;
    }

    .competences {
        width: 30%;
    }

    /* team */
    .members-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .left-members-box {
        width: 50%;
        text-align: right;
        margin-right: 2rem;
    }

    .left-members-box .member {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .right-members-box {
        width: 50%;
        text-align: left;
    }

    .right-members-box .member {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    /* contact */
    .form-info-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .form {
        width: 60%;
    }

    .form label {
        width: 90%;
        text-align: left;
    }

    .form input {
        width: 90%;
    }

    .message {
        width: 90%;
    }

    .submit {
        margin: 0;
    }

    .contact-info {
        width: 40%;
        text-align: left;
    }

    .contact-info::after {
        border: 0.5px solid var(--second-background-color);
    }
}
