/* variables */
:root {
    --black-color: #19161a;
    --white-color: #ffffff;
    --red-color: #b8365e;
    --blue-color: #506daa;
    --green-color: #3FBF7F;
    --light-grey-color: #d0cfcd;
    --grey-color: #807b7d;
    --background-color: rgba(184, 54, 94, 0.5);
    --second-background-color: rgba(80, 109, 170, 0.5);
}

/* general */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    z-index: 0;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    margin: 0 auto;
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* header */
.header {
    z-index: 2;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.navigation {
    height: 100vh;
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1rem;
    visibility: hidden;
    transform: translateX(100%);
}

.navigation-active {
    transform: translateX(0px);
    transition: transform 0.6s, visibility 0s;
    visibility: visible;
}

.navigation-list {
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation-item {
    margin-left: 0;
    padding: 1rem 0;
}

.navigation-item a {
    color: var(--black-color);
    text-decoration: none;
    transition: color 0.5s;
}

.navigation-item a:hover {
    color: var(--green-color);
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    display: block;
}

.hamburger-box {
    width: 35px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.1s 0.2s ease-in-out;
}

.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 3px;
    background-color: var(--white-color);
    position: absolute;
    content: '';
    left: 0;
    transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    top: 10px;
}

.hamburger, .navigation {
    transition: transform 0.6s, visibility 0.3s;
}

.hamburger-active .hamburger-inner {
    background-color: transparent;
}

.hamburger-active .hamburger-inner::before {
    background-color: var(--black-color);
    transform: translateY(10px) rotate(45deg);
}

.hamburger-active .hamburger-inner::after {
    background-color: var(--black-color);
    transform: translateY(-10px) rotate(-45deg);
}

/* hero */
.hero {
    width: 100%;
    background: url("../img/code.jpg") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.hero-shadow {
    height: 100%;
    padding: 10rem 0;
    background: var(--second-background-color);
    z-index: -1;
}

.hero-wrapper {
    color: var(--white-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.second-header {
    margin: 0 0 1.5rem;
    color: var(--green-color);
    font-size: 3.5rem;
}

.hero-btn-wrapper {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-btn {
    width: 50%;
    margin-top: 2rem;
    padding: 0.6rem 1rem;
    color: var(--white-color);
    border: 1.5px solid var(--white-color);
    border-radius: 10px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.5s;
}

.hero-btn:hover {
    background: var(--blue-color);
}

/* media queries*/
@media only screen and (min-width: 1000px) {
    .header-wrapper {
        align-items: flex-start;
    }

    .navigation {
        height: 10vh;
        width: 100%;
        background-color: transparent;
        display: flex;
        position: static;
        padding-top: 0;
        visibility: visible;
        transform: translateX(0);
    }

    .navigation-list {
        flex-direction: row;
    }

    .navigation-item {
        margin-left: 2rem;
    }

    .navigation-item:first-of-type {
        margin-left: 0;
    }

    .navigation-item a {
        color: var(--white-color);
    }

    .hamburger {
        display: none;
    }
}
